body {
    color: #333333;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 940px;
}

header {
  position: relative;
}

#title {
    background-image: url(../img/sobre-background.jpg);
    padding: 10px;
}

h1 {
  padding: 10px;
}

h2 {
    border-bottom: 2px solid #333333;
    margin-top: 30px;
}

p {
    padding: 0 45px;
    text-indent: 15px;
}

figure {
    background-color: #F2EFED;
    border: 1px solid #CCC;
    text-align: center;
    padding: 15px;
    margin: 30px;
}

figcaption {
    font-style: italic;
    margin-top: 10px;
}

#distribution-center {
    margin-left: auto;
    margin-right: auto;
    width: 550px;
}

#pelho-family {
    float: right;
    margin: 0 0 10px 10px;
}
